.square-div {
    position: relative;
    // border: 1px gray solid;
    height: 100px;
    display: block;
    color: black;
    border: none;
    outline: none;
}

.square-btn {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: antiquewhite !important;
    
}




